spring:
  config:
    activate:
      on-profile: prod
    import: classpath:properties/feature-flag.yml

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        default_batch_fetch_size: 100

feign:
  client:
    config:
      store-service:
        connectTimeout: 3000
        readTimeout: 5000
        loggerLevel: BASIC

eureka:
  client:
    service-url:
      defaultZone: http://localhost:18080/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}